<div class = "whitebox_rounded answerdiv">
 	
			<!-- if questions selected-->
		<% @answers.each do |i| %>
		<div class = "one_answer">
		<div class = "answer">
			<% type ="Answer" %>
			<div class="one_answer_topbar">
				<div class = "display_tags">
					<%i.tags.each do |tag|%>
						<span class = "inline tag"><%=tag.name%></span>
					<%end%>
				</div>
				<div class = "answer_information">
					<% if current_user.id == i.user().id then%>
						<%=link_to "edit", {:controller => :submission, :action => :editQ, :id => i.id}, 
						:class => "edit"%>
					<%end%>
				</div>
			</div>
		
			<div class="answerdescription_zoom">
				<%= i.description %>			
			</div>
			<div class = "asker">
				answered by <%= i.user.first_name + " " + i.user.last_name %> 
			</div>
		</div>
		</div>
		<% end %>	

</div>

