<table id = "buttontable" cellspacing = "0">
	<tr>
		<td id = <%= "'pushes_#{item.class.name}_#{item.id}'".html_safe%>><%= item.pushes_for %></td> 
	</tr>
	<tr>
		<td ><%= link_to "push", {:action => :post_push, :id => item.id, :type => item.class.name, :remote => true },  :class => "vote" %></td>
	</tr>	
</table>