<%= form_for(item, :url => {:action => :post_vote, :remote => true}) do |form| %>
<table id = "buttontable" cellspacing = "0">
	<tr>
		<%= form.hidden_field(:id, :value => params[:id]) %>
		<td><%= form.submit "↑", :class => "upvote" %></td>	
	</tr>	

	<tr>
		<td id = 'vote'><%= item.votes_for %></td> 
	</tr>
</table>
<% end %>


