<table id = "buttontable" cellspacing = "0">
	<tr>
		<td id = <%= "'votes_#{item.class.name}_#{item.id}'".html_safe%>><%= item.votes_for %></td> 
	</tr>
	<tr>
		<td ><%= link_to "↑", {:action => :post_vote, :id => item.id, :type => item.class.name, :remote => true },  :class => "vote" %></td>
	</tr>	


</table>


