
<table id = "buttontable" cellspacing = "0">
	<tr>
		<td ><div class="vote-img">
			<% if (current_user.voted_for?(item)) %>
				<div class = "vote-msg">You voted!</div>
			<% end %>
			
			<%= link_to image_tag("../images/vote.png"), {:action => :post_vote, :id => item.id, :type => item.class.name, :remote => true },  :class => "vote" %></div></td>
	</tr>	
	<tr>
		<td id = <%= "'votes_#{item.class.name}_#{item.id}'".html_safe%><span class="label label-info votecounter"><%= pluralize(item.votes_for, "vote")%> </span></td> 
	</tr>
</table>


