<%= stylesheet_link_tag 'board', :media => 'screen' %>
<% provide(:title, "Message Board") %>


<div class = "container">
	<div class = "row">
		<div class = "span8">
			<%= render :partial => "dynamicinput"%>
  			<h1>chalkboard
				<small> a space for all current questions</small><small class = "linkright">
					<div class="btn-group">
  						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">submit<span class="caret"></span></a>
  							<ul class="dropdown-menu pull-right">
    							<%= link_to "Question", :controller => :submission, :action => :QS %>
    							<%= link_to "Answer", :controller => :submission, :action => :AS %>
  							</ul>
					</div>
				</small>
			</h1> 
		</div>
		<div class = "span3 offset1 ">
			<div class = "sidebar">
			<h1><small>Trending topics</small></h1>
			</div>
		</div> 
	</div>
</div>




