<% provide(:title, "Message Board") %>
<ul id="idea-slider">
	<% @questions.each do |q| %>
		<li><div class = "answer-block"><img src="http://placekitten.com/300/200" alt="place holder" style = "float:left; margine 0 0 2px 10px;" /><%= q.description %></div></li>
	<% end %>
</ul>
