html, body {
   margin-top:0px;
   border-top:0px;
   min-width:800px;
}

@font-face {
 	font-family: 'Lobster13Regular';
    src: url(../fonts/Lobster_1.3-webfont.eot);
	src: url(../fonts/Lobster_1.3-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
 	font-family: 'Hattori_Hanzo';
    src: url(../fonts/Hattori-Hanzo/Hattori_Hanzo.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
 	font-family: 'FFF_Tusj';
    src: url(../fonts/FFF_Tusj/FFF_Tusj.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


h2.class {
	font: 14px/20px 'Georgia', Arial;
	color:#191970;
	padding-right:5px;
	padding-top:32px;
	float:right;
	font-weight:bold;
}

div.background {
	margin:none;
	padding:none;
	background:url(../images/chalkboard.jpg) no-repeat;
	height:70px;
	border-bottom:2px solid #900000 ;
	border-top:2px solid #900000 ;
	position:relative; 
	top:-20px; 
	width:auto; 
}


p, table.state {
	margin:10px;
}





