<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <!-- need photo for user? -->
        <%= @user.username %>
      </h1>

    </section>
  </aside>
</div>