<div class = "page">
		<div id = "topbar">
			<form method="link" action="../sessions/new">
			<input type="submit" value="Sign In" id = "sign_in_button">
			</form>
		</div>
	
		<div class = "clearline">
			<div class = "titleline">
			<span id = "frontpage_badge" class = "inline">Chalk</span>
			<span id = "frontpage_tagline" class = "inline">Transforming school decision-making from the ground up.</span> 
			</div>
		</div>
		
	
			<div id="tabContainer">
			<ul class = "tabbar">
				<div id ="tabCenter">
			    <li class = "list_none"><span name = "#tab1" class = "active tab">Learn More</span></li>
			    <li class = "list_none"><span name ="#tab2" class = "tab">About Us</span></li>
				</div>
			</ul>
			<div class="tabDetails">
		    	<div id="tab1" class="tabContents">
		            <div class = "clearline">
						<span class = "inline fifty">
							<%=image_tag ("../images/version2_startconvo_site.png")%>
						</span>
						<span class = "inline fifty">
							<h2 class = "frontpage_section" id = "frontpage_section1"><span class = "outline">What is Chalk?</span></h2>
							<p class = "frontpage_description_2">a knowledge management tool that drives organizational learning across 
								school systems</p>
							<ul class = "frontpage_list">
								<li class = "list_circle">crowd-sources questions and ideas from all school staff</li>
								<li class = "list_circle">creates new channels for communication</li>
								<li class = "list_circle">builds collaborative capacity for scaling success</li>
							</ul>
						</span>
					</div>
					<div class = "clearline section"><hr class = "frontpage_horizontal" /></div>
					<div>
			        <h2 class = "frontpage_section"><span class = "outline">Who will benefit from Chalk?</span></h2>
					<div>
						<h2 class = "frontpage_section">School Staff</h2>
						<%=image_tag ("../images/chalk_lightbulb.png")%>
					</div>
					<div>
						<h2 class = "frontpage_section">Administrators</h2>
					</div>
					</div>
		        </div><!-- //tab1 -->
		    	<div id="tab2" class="tabContents">
		        	<h2 class = "frontpage_section"><Div Two</h1>
		            <p>Sed gravida velit ut lorem dictum vitae venenatis dolor faucibus. In vehicula malesuada mi, vel semper sem porta in. Mauris suscipit lorem eget justo congue semper.</p>
		            <p>Donec et purus eget elit tristique consequat. Integer ut orci eu augue tristique viverra nec vitae odio. Nulla sem nibh, posuere quis condimentum vitae, posuere sit amet lectus. Morbi euismod tincidunt mauris ut scelerisque.</p>
		        </div><!-- //tab2 -->
			</div>
	
			
</div>

