<div class = "page">
	
	
		<div class = "clearline">
			<div class = "titleline">
			<span id = "frontpage_badge" class = "inline">Chalk</span>
			<span id = "frontpage_tagline" class = "inline">Transforming school decision-making from the ground up.</span> 
			</div>
		</div>
		
	
			<div id="tabContainer">
			<!-- <ul class = "tabbar">
						<div id ="tabCenter">
					     <li class = "list_none"><span name = "#tab1" class = "tab">What is Chalk?</span></li>
					  		 <li class = "list_none"><span name ="#tab2" class = "tab">How does Chalk work?</span></li>
					  	     <li class = "list_none"><span name ="#tab3" class = "tab">Who uses Chalk?</span></li>
						<li class = "list_none"><a href = "#tab1" class = "tab">What is Chalk?</a></li>
						<li class = "list_none"><a href ="#tab2" class = "tab">How does Chalk work?</a></li>
						<li class = "list_none"><a href ="#tab3" class = "tab">Who uses Chalk?</a></li>
						</div>
					</ul> -->
			<div class="tabDetails">
		    	<div id="tab1" class="tabContents">
		            <div class = "clearline">
						<span class = "inline fifty">
							<%=image_tag ("../images/version2_startconvo_site.png")%>
						</span>
						<span class = "inline fifty">
							<h2 class = "frontpage_section" id = "frontpage_section1"><span class = "outline">What is Chalk?</span></h2>
							<p class = "frontpage_description_2">a knowledge management tool that drives organizational learning across 
								school systems</p>
							<ul class = "frontpage_list">
								<li class = "list_circle">crowd-sources questions and ideas from all school staff</li>
								<li class = "list_circle">creates new channels for communication</li>
								<li class = "list_circle">builds collaborative capacity for scaling success</li>
							</ul>
						</span>
					</div>
		        </div>
					<div class = "clearline section"><hr class = "frontpage_horizontal" /></div>
				<!-- //tab1 -->
		    	<!-- <div id="tab3" class="tabContents">
		    			        	
		    							<div>
		    					        <h2 class = "frontpage_section"><span class = "outline">Who will benefit from Chalk?</span></h2>
		    							<div>
		    								<h2 class = "frontpage_section">School Staff</h2>
		    								<%=image_tag ("../images/chalk_lightbulb.png")%>
		    							</div>
		    							<div>
		    								<h2 class = "frontpage_section">Administrators</h2>
		    							</div>
		    							</div>
		    			        </div> --><!-- //tab3 -->
			</div>
	
			
</div>

