<div class = "container page">
	<div class = "row-fluid banner">
		<div class = "span9"></div>
		<div class = "span3">
			<form method="link" action="../sessions/new">
			<input type="submit" value="Sign In" id = "sign_in_button">
			</form>
		</div>
		<div class = "span3">
			<span id = "frontpage_badge">Chalk</span>
		</div>
		<div class = "span8">
			<span><p id = "frontpage_tagline">Transforming school decision-making from the ground up.</p></span> 
		</div>
		<div class = "span3"></div>
	</div>
	<div class = "row-fluid">
		<div class = "span12">
			<div id="tabContainer">
			<ul>
				<div id ="tabCenter">
			    <li><a href="#tab1" class = "active">Learn More</a></li>
			    <li><a href="#tab2">About Us</a></li>
				</div>
			</ul>
			<div class="tabDetails">
		    	<div id="tab1" class="tabContents">
		        	<h2 class = "frontpage_section"><span class = "outline">What is Chalk?</span></h2>
		            <div class = "row-fluid">
						<div class = "span7 frontpage_description">
							Chalk is a knowledge management tool that drives organizational learning across school systems. By crowdsourcing questions and ideas across all school staff, Chalk opens new channels for communication and builds collaborative capacity for scaling success.
						</div>
		
						<div class = "span5">
							<%=image_tag ("../images/chalkboard_screenshot.png")%>
						</div>
						<div class = "span12"><hr class = "frontpage_horizontal" /></div>
					</div>
		        </div><!-- //tab1 -->
		    	<div id="tab2" class="tabContents">
		        	<h2 class = "frontpage_section"><Div Two</h1>
		            <p>Sed gravida velit ut lorem dictum vitae venenatis dolor faucibus. In vehicula malesuada mi, vel semper sem porta in. Mauris suscipit lorem eget justo congue semper.</p>
		            <p>Donec et purus eget elit tristique consequat. Integer ut orci eu augue tristique viverra nec vitae odio. Nulla sem nibh, posuere quis condimentum vitae, posuere sit amet lectus. Morbi euismod tincidunt mauris ut scelerisque.</p>
		        </div><!-- //tab2 -->
			</div>
		</div>
	</div>
			
</div>

