@import url('reset.css');
body{
	background:#f7f7f7;
	color:#000;
	font-family:'Georgia', 'Trebuchet MS', serif;
	font-size:14px;
}
.clr{
	clear:both;
}
a{
	color:#fff;
	text-decoration:none;
}
a.more_link{
	color:#EF1010;
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
	font-family:'Droid Sans', Arial, sans-serif;
	font-style:normal;
}
a.more_link:hover{
	border-bottom:1px dotted #ddd;
}
.container {
	position:relative;
	margin:10px;
	width:100%;
}
h1, h2{
	font-family:'Oswald', Arial, sans-serif;
}
h1{
	font-size:80px;
	text-shadow:0px 0px 1px rgba(0,0,0,0.8);
}
.container{
	min-width:800px;
}
.background {
	background:url(../chalkheaderv5.png);
	background-repeat: no-repeat;
	min-width:800px;
	height:140px; 
	border-bottom: 6px solid #FFEFD5;
}

.fancy{
	font-family:'Ovo', 'Georgia', Baskerville, "Hoefler Text", Garamond, serif;
}
.header .fancy{
	font-size:30px;
}
.block .fancy{
	font-size:18px;
}
.header h1 span{
	line-height:60px;
	float: left;
	color:#ef1010;
}

p.subline{
	font-family:'Droid Sans', Arial, sans-serif;
	line-height:20px;
	font-size:11px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-style:normal;
}

.block{
	float:left;
	margin:5px;
	background:#fff;
	border-style:solid;
	border-color: #86C67C;
	padding:20px;
	width:250px;
}

.question{
	border-style:solid;
	border-color: #EE7600;	
}
.idea{
	background:#eef;
}

.block h2{
	font-size: 15px;
	text-transform: uppercase;
	background: #222;
	color: white;
	padding: 2px 5px;
}
.block p{
	font-style:italic;
	line-height:20px;
	padding-bottom:5px;
}
.block p.subline{
	margin:10px 0px;
	font-style:normal;
}
.block img{
	display:block;
}