 
.clr{
	clear:both;
}

.fancy{
	font-family:'Ovo', 'Georgia', Baskerville, "Hoefler Text", Garamond, serif;
}
.header .fancy{
	font-size:30px;
}
.block .fancy{
	font-size:18px;
}
.header h1 span{
	line-height:60px;
	float: left;
	color:#ef1010;
}

p.subline{
	font-family:'Droid Sans', Arial, sans-serif;
	line-height:20px;
	font-size:11px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-style:normal;
}

.block{
	float:left;
	margin:5px;
	background:#fff;
	border-style:solid;
	border-color: #86C67C;
	padding:20px;
	width:250px;
}

.block.question{
	border-style:solid;
	border-color: #EE7600;	
}
.idea{
	background:#eef;
}

.block h2{
	font-size: 15px;
	text-transform: uppercase;
	background: #222;
	color: white;
	padding: 2px 5px;
}
.block p{
	font-style:italic;
	line-height:20px;
	padding-bottom:5px;
}
.block p.subline{
	margin:10px 0px;
	font-style:normal;
}
.block img{
	display:block;
}

div.ideas {
	border-top:1px solid #787878;
	border-bottom:1px solid #787878;
	height:100px;
	margin-bottom:40px; 

}

div.divider {
	width:100%;
	margin-bottom:10px; 
}

