html,body {
   margin-top:0px;
   border-top:0px;
   min-width:800px;
   height:100%; 
   background-image:url("../images/chalkboard.jpg");

}


.container {
	max-width:1000px; 
	height:100%;  
	margin:none; 
	padding:none; 
}

.row {
	height:100%; 
}

.span3 {
	height:100%; 
}


.sidebar {
	min-height:100%; 
	border-left:solid black 2px;
	text-align:center; 
 
}