$navbarLinkColor:white; 
$navbarHeight:50px; 
$navbarLinkColorHover:#999; 
$btnBackground:#999; 
$dropdownLinkColorHover:#999; 
$btnBackgroundHighlight:darken(white,10%); 
//$linkColorHover:white; 
//$linkColor:white; 
@import "bootstrap";




.pull-left {
	font-family:'Lobster13Regular'; 
	font-size:30px; 
	padding-top:17px; 
	color:white; 
	text-shadow: black 0.1em 0.1em 0.2em;
}


.nav a{
	position:relative;
}

.caret {
	opacity:1; 
}

.caret:hover {
	opacity:0.0; 
}

.nav a{
	-webkit-transition:color .2s ease-in-out;  
   -moz-transition:color .2s ease-in-out;  
   -o-transition:color .2s ease-in-out ;  
   transition:color .2s ease-in-out ;  
   font-family:"arial"; 
}



.navbar div.container {
	width:95%; 
	min-width:800px; 
	
}

.container {
	width:90%; 
}

.navbar {
	position:absolute;
	top:0px; 
	margin:none;
	padding:none;
	border:none; 
	border-bottom:3px solid black; 	
	width:100%; 
}

.navbar-inner {
	margin:none;
	padding:none;
	border:none; 
	height:45px; 
	background:url(../images/chalkboard.jpg) no-repeat;
	font-size:14px; 
}


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


h1 {
	font: 35px , Arial;
	color:white; 
	padding-top:10px; 
	padding-left:20px;
	text-shadow: black 0.1em 0.1em 0.2em; 
}

h1 small {
	color:white; 	
}	

.page-header {
   -webkit-border-radius:5px; 
   -moz-border-radius:5px;  
   -o-border-radius:5px; 
   background-color:#444;
}

.page-header.schoolname {
   background-color:white;
   border:none; 
   
}

.page-header.schoolname h1 {
    padding-right:15px; 
	color:#444; 
		text-shadow: none; 
		float:right; 
		position:relative;
		top:-15px; 
}

.well {
	padding-left:10px; 
	padding-right:10px; 
	margin-bottom:10px; 
	padding-top:none; 
	max-height:130px; 
}

.page-header.questiontitle {
   background-color:transparent;
   border:none; 
   margin:none; 
   height:auto;  
   position:relative; 
   top:-20px; 
   border-bottom:1px solid black;  
   -webkit-border-radius:0px; 
   -moz-border-radius:0px;  
   -o-border-radius:0px; 
   height:12px; 

}

.page-header.questiontitle h3 {
    padding-right:15px; 
	color:#444; 
	text-shadow: none; 
	margin:0px; 
	padding:none; 
	float:right; 
	
}

.asker {
	position:relative;
	top:-30px; 	
}

.questiondescription {
	position:relative;
	top:-25px; 
}

.descripttext {
	min-height:55px;
	max-height:55px; 
	font-size:20px; 
	margin:none; 
	overflow:hidden; 
 	word-wrap:break-word;
 	text-overflow:ellipsis; 
}

.moreinfo {
	position:relative;
	top:-13px;
	width:100%; 
	height:17px; 
	color:black; 
	text-align:center; 
	background-color:#999;
	padding-top:3px;
	padding-bottom:3px;  
	padding-right:18px; 
	margin-left:-9px;
   -webkit-transition:background-color .2s ease-in-out;  
   -moz-transition:background-color .2s ease-in-out;  
   -o-transition:background-color .2s ease-in-out ;  
   transition:background-color .2s ease-in-out ; 
    -webkit-border-bottom-right-radius:6px; 
   -moz-border-bottom--right-radius:6px;  
   -o-border-bottom-right-radius:6px; 
    -webkit-border-bottom-left-radius:6px; 
   -moz-border-bottom--left-radius:6px;  
   -o-border-bottom-left-radius:6px; 
    

}

.moreinfo:hover {
	background-color:#555; 
}

.moreinfo a {
	display:block; 
	 -webkit-transition:color .2s ease-in-out;  
   -moz-transition:color .2s ease-in-out;  
   -o-transition:color .2s ease-in-out ;  
   transition:color .2s ease-in-out ;  
   	text-decoration:none; 
}


.linkright  {
	float:right; 
	vertical-align:center; 
	padding-top:6px;  
	padding-right:10px; 
	text-shadow:none;
	/* 
-webkit-transition:color .2s ease-in-out;  
   -moz-transition:color .2s ease-in-out;  
   -o-transition:color .2s ease-in-out ;  
   transition:color .2s ease-in-out ;  
 */
}


.btn {
	color:#5C755E; 
	font-weight:bold; 
}

.btn:hover {
	background-color:#eee; 
	color:#5C755E;
}

h1 .dropdown-menu a {
	font-size:14px; 
	
}

h1 .dropdown-menu a:hover {
	background-color:#eee;
	text-decoration:none; 
	
}

.questiondiv {
	margin-top:30px; 
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  height:100%;
  background-color:#FFFFFF;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* sidebar */
/* 

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}
 */


/* forms */

/* 
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}
 */

/* 
input{
  display: block;  
  border: 1px solid #bbb;
  padding: 10px;
  width: auto;
  height: auto;
  margin-bottom: 15px;
}
 */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


div.middle {
	margin-left:auto; 
	margin-right:auto;
	min-width:800px;
}

.textfield {
	font-size:16px; 
	width:500px;
	
}

.signinbox {
	font-size:16px; 
	width:300px;
	height:20px;
}


.textarea {
	width:500px; 
	height:100px; 
}

.subtable {
	margin-top:25px; 
	margin-left:auto; 
	margin-right:auto;
	width:50%;
}

.subrow {
	font: 14px/14px 'Lobster13Regular', Arial;
	vertical-align:top;
	margin-bottom:20px; 
}

.descript {
	width:175px; 
}

td {
	width:auto; 
}


.subbutton {
	font: 12px/22px  helvetica; 
	background-color:#FFCC66;
	margin-left:400px; 
	margin-right:auto; 
	margin-top:25px;
}

/* 
.subbutton:hover {
	background-color:black;
}
 */



p.middle {
	text-align:center; 
	clear:both;
	padding-left:5px;
}

p.pagetitle {
	font: 26px 'Hattori_Hanzo', Arial;
	color:black;
	padding-bottom:10px;
}

p.pagetitle2 {
	font: 35px 'Hattori_Hanzo', Arial;
	color:black;
	padding-bottom:10px;
}

#footer {
	height:30px; 
	background-color:#202020 ; 
	clear:both; 
	text-align:right;
	color:white; 
	border-top:2px solid #900000;
	position:static;
    bottom:0;
    width:100%;
    height:35px;   /* Height of the footer */
    
    z-index: 100; 

    left: 0;

}

.bluebutton {
	margin:10px;
}

ul#idea-slider, ul#idea-slider li {
    width: 80%;
    height: 200px;
    list-style: none;
	easing: 'easeInOutExpo';
}

table.ideas {
	height:100px; 
}
.fullwidth {
	width:100%;
	
}

div.panel {
	width:90%;
}

div.content {
	width:100%;
}

.right {
	float:right;
	padding-right:5%;
	margin:10px; 
}

.left {
	float:left;
}

#questiontable {
	width:53%; 
	margin-bottom:0px; 
	float:left;
	min-height:100px; 
	margin-top:10px; 
	margin-bottom:15px; 

}

p.questiontext {
	font:20px 'helvetica'; 
	color:black;
	
}

td.questionblock {
	vertical-align:middle;
	width:80%;
}

.quotetop {
	vertical-align:top;
	position:relative;
	top:-5px;
}

.quotebottom {
	vertical-align:bottom;
	padding-bottom:5px; 
	
}

td.fullblock {
	width:100%;
}

#infotable {
	width:45%; 
	margin-bottom:15px;
	float:left; 
}

p.infotext {
	font:12px 'helvetica'; 
	color:#003366 ;
	padding-left:4px; 
	padding-right:7px; 
}


#buttontable {
	width:45%; 
	margin-bottom:5px;
	margin-left:10px; 
	float:left;
	
	margin-top:14px; 
}

 #buttontable td {
	padding:1px; 
}

.upvote {
	min-height:20px; 
	min-width:50px; 
	font:20px 'helvetica'; 
	color:black; 
	font-weight:bold; 
	opacity:0.9;
	filter:alpha(opacity=90);
	border:1px solid black; 
	background-color:#4682B4;
}

.upvote:hover {
	background-color:#778899; 
}

.pushbutton {
	min-height:20px; 
	min-width:50px; 
	font:20px 'helvetica'; 
	color:black; 
	opacity:0.9;
	filter:alpha(opacity=90);
	border:1px solid black; 
	background-color:#EEEE00;
}

.pushbutton:hover {
	background-color:#FFD39B;
}


.ideaentertitle {
	max-height:20px; 
	min-width:100%; 
	font-size:16px; 
	margin:none; 
	padding-left:5px; 
}

.ideaenterarea {
	max-height:30px; 
	min-width:100%; 
	font-size:13px; 
	margin:none; 
	padding-left:5px; 
}

.ideabutton {
	min-height:20px; 
	min-width:100px; 
	font:20px 'helvetica'; 
	color:black; 
	opacity:0.9;
	filter:alpha(opacity=90);
	border:1px solid black; 
	background-color:#A0A0A0 ;

}

.ideabutton:hover {
	background-color:#D8D8D8 ;
}


div.divide2 {
	min-width:90%; 
	margin-left:auto; 
	margin-right:auto; 
	min-height:10px; 
	clear:both;
	margin-top:10px; 
	margin-bottom:10px; 

}

p.vertcenter {
	padding-top:17px; 
}

div.ideaspace {
	background-color:white; 
	padding:10px; 
}

div.ideabox {
	border:1px solid black; 
	background-color:white; 
	overflow:auto;
}















