$navbarLinkColor:white; 
$navbarHeight:50px; 
$navbarLinkColorHover:#999; 
$btnBackground:#999; 
$dropdownLinkColorHover:#999; 
$btnBackgroundHighlight:darken(white,10%); 
//$linkColorHover:white; 
//$linkColor:white; 
$heroUnitHeadingColor:green; 
@import "bootstrap";




.pull-left {
	font-family:'Lobster13Regular'; 
	font-size:30px; 
	padding-top:17px; 
	color:white; 
	text-shadow: black 0.1em 0.1em 0.2em;
}


.nav a{
	position:relative;
}

.caret {
	opacity:1; 
}

.caret:hover {
	opacity:0.0; 
}

.nav a{
	-webkit-transition:color .2s ease-in-out;  
   -moz-transition:color .2s ease-in-out;  
   -o-transition:color .2s ease-in-out ;  
   transition:color .2s ease-in-out ;  
   font-family:"arial"; 
}



.navbar div.container {
	width:95%; 
	min-width:800px; 
	
}

.container {
	width:90%; 
}

.navbar {
	position:absolute;
	top:0px; 
	margin:none;
	padding:none;
	border:none; 
	border-bottom:3px solid black; 	
	width:100%; 
}

.navbar-inner {
	margin:none;
	padding:none;
	border:none; 
	height:45px; 
	background:url(../images/chalkboard.jpg) no-repeat;
	font-size:14px; 
}


@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


h1 {
	font: 35px , Arial;
	color:white; 
	padding-top:10px; 
	padding-left:20px;
	text-shadow: black 0.1em 0.1em 0.2em; 
}

h1 small {
	color:white; 	
}	

h2 {
	font-size: 10px , Arial;
	color:white; 
	padding-top:10px; 
	padding-left:20px;
	text-shadow: black 0.1em 0.1em 0.2em; 
	position:relative; 
	top:-10px; 
}

h2 small {
	color:#bbb; 	
}

.page-header.detail {
	height:20px; 
}

.page-header {
   -webkit-border-radius:5px; 
   -moz-border-radius:5px;  
   -o-border-radius:5px; 
   background-color:#444;
}

.page-header.schoolname {
   background-color:white;
   border:none; 
   
}

.page-header.schoolname h1 {
    padding-right:15px; 
	color:#444; 
		text-shadow: none; 
		float:right; 
		position:relative;
		top:-15px; 
}

.well {
	padding-left:10px; 
	padding-right:10px; 
	margin-bottom:20px; 
	padding-top:none; 
	max-height:130px; 
	border:1px solid black;
}

.well.idea {
	background-color:#eee; 
	border:1px solid black; 
	
}

.edit {
	margin-right:10px; 
	position:relative; 
	top:10px; 
}

.edit.detail {
	float:right; 
	position:relative; 
	right:360px; 
	top:35px; 
}

.page-header.questiontitle {
   background-color:transparent;
   border:none; 
   margin:none; 
   height:auto;  
   position:relative; 
   top:-20px; 
   border-bottom:1px solid black;  
   -webkit-border-radius:0px; 
   -moz-border-radius:0px;  
   -o-border-radius:0px; 
   height:12px; 

}

.page-header.questiontitle div {
	float:right; 
	position:relative; 
	top:-10px; 
}

.page-header.questiontitle h3 {
	color:#444; 
	text-shadow: none; 
	margin:0px; 
	padding:none; 
	float:left; 
	
}

.asker {
	position:relative;
	top:-30px;
	left:7px;  	
}

.questiondescription {
	position:relative;
	top:-25px; 
}

.asker.answer {
	position:relative; 
	top:-25px; 
}

.answerdescription {
	position:relative;
	top:-20px; 
}

.descripttext {
	min-height:57px;
	max-height:57px; 
	font-size:20px; 
	margin:none; 
	overflow:hidden; 
 	word-wrap:break-word;
 	text-overflow:ellipsis; 
 	float:right; 
 	min-width:90%; 
 	max-width:90%; 
}


.upvotebox {
	float:left; 
	max-width:10%;
	position:relative;
	top:-35px;
	left:10px; 
	max-height:57px;  
    -webkit-transition:opacity .2s ease-in-out;  
    -moz-transition:opacity .2s ease-in-out;  
    -o-transition:opacity .2s ease-in-out ;  
    transition:opacity .2s ease-in-out ; 
    opacity:0.8; 
    z-index:100; 
}

.votecounter {
	text-align:center; 
	max-height:10px; 
	max-width:10%; 
}

.ideacounter {
	max-width:20px; 
	min-width:20px; 
	position:relative; 
	top:8px; 
	margin-right:5px; 
	color:white; 
}

.upvotebox:hover {
	opacity:1; 
}

.idealink {
	color:white; 
	 -webkit-transition:color .2s ease-in-out;  
   -moz-transition:color .2s ease-in-out;  
   -o-transition:color .2s ease-in-out ;  
   transition:color .2s ease-in-out ; 
	
}

.idealink:hover {
	text-decoration:none; 
	color:#FF9980; 
}

.ideapic:hover {

}

.moreinfo {
	position:relative;
	top:1px;
	width:100%; 
	height:17px; 
	text-align:center; 
	background-color:#888;
	padding-top:3px;
	padding-bottom:3px;  
	padding-right:20px; 
	margin-left:-10px;
   -webkit-transition:background-color .2s ease-in-out;  
   -moz-transition:background-color .2s ease-in-out;  
   -o-transition:background-color .2s ease-in-out ;  
   transition:background-color .2s ease-in-out ; 
    -webkit-border-bottom-right-radius:2px; 
   -moz-border-bottom--right-radius:2px;  
   -o-border-bottom-right-radius:2px; 
    -webkit-border-bottom-left-radius:2px; 
   -moz-border-bottom--left-radius:2px;  
   -o-border-bottom-left-radius:2px; 
   clear:both; 
    

}

.moreinfo:hover {
	background-color:#555; 
}

.moreinfo a {
	color:white;
	display:block; 
	 -webkit-transition:color .2s ease-in-out;  
   -moz-transition:color .2s ease-in-out;  
   -o-transition:color .2s ease-in-out ;  
   transition:color .2s ease-in-out ;  
   	text-decoration:none; 
}

.moreinfo a:hover {
	color:#FF9980; 

}


.linkright  {
	float:right; 
	vertical-align:center; 
	padding-top:6px;  
	padding-right:10px; 
	text-shadow:none;
	/* 
-webkit-transition:color .2s ease-in-out;  
   -moz-transition:color .2s ease-in-out;  
   -o-transition:color .2s ease-in-out ;  
   transition:color .2s ease-in-out ;  
 */
}


.btn {
	color:#5C755E; 
	font-weight:bold; 
}

.btn:hover {
	background-color:#eee; 
	color:#5C755E;
}

h1 .dropdown-menu a {
	font-size:14px; 
	
}

h1 .dropdown-menu a:hover {
	background-color:#eee;
	text-decoration:none; 
	
}

.questiondiv {
	margin-top:30px; 
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  height:100%;
  background-color:#FFFFFF;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* sidebar */
/* 

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}
 */


/* forms */

/* 
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}
 */

/* 
input{
  display: block;  
  border: 1px solid #bbb;
  padding: 10px;
  width: auto;
  height: auto;
  margin-bottom: 15px;
}
 */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


div.middle {
	margin-left:auto; 
	margin-right:auto;
	min-width:800px;
}

.textfield {
	font-size:16px; 
	width:500px;
	
}

.signinbox {
	font-size:20px; 
	width:350px;
	height:30px;
	margin-right:10px; 
}

.signin {
	margin-left:35%; 
}

.bluebutton:hover {
	background-color:white; 
}





/* 
.subbutton:hover {
	background-color:black;
}
 */



p.middle {
	text-align:left; 
	clear:both;
	padding-left:5px;
	margin:0px; 
}

p.pagetitle {
	font: 24px 'helvetica';
	color:white;
	font-weight:bold;
	width:250px; 
	padding-top:6px; 
	padding-bottom:6px;
	 -webkit-border-radius:5px; 
   -moz-border-radius:5px;  
   -o-border-radius:5px; 
   background-color:#FFD119; 
}

p.mid {
	text-align:center; 
	clear:both;
	padding-left:5px;
	margin:0px; 
}

p.pagetitle2 {
	font: 35px 'Hattori_Hanzo', Arial;
	color:black;
	padding-bottom:10px;
}

#footer {
	height:30px; 
	background-color:#202020 ; 
	clear:both; 
	text-align:right;
	color:white; 
	border-top:2px solid #900000;
	position:static;
    bottom:0;
    width:100%;
    height:35px;   /* Height of the footer */
    z-index: 100; 
    left: 0;
}




ul#idea-slider, ul#idea-slider li {
    width: 80%;
    height: 200px;
    list-style: none;
	easing: 'easeInOutExpo';
}

table.ideas {
	height:100px; 
}
.fullwidth {
	width:100%;
	
}

div.panel {
	width:90%;
}

div.content {
	width:100%;
}

.right {
	float:right;
	padding-right:5%;
	margin:10px; 
}

.left {
	float:left;
}

.hero-unit.question {
	padding-top:10px; 
	padding-left:10px; 
	background-color:transparent; 
	border-bottom:3px solid black; 
	padding-bottom:80px; 
}

.hero-unit h2 {
	color:white; 
	text-shadow:none; 
	margin-left:10px; 
}

.detailtitle {
	border:1px solid black; 
	padding-right:30px; 
	background-color:#555;
	min-width:900px; 
	position:relative;
	left:15px; 
	height:40px; 
	-webkit-border-radius:5px; 
   -moz-border-radius:5px;  
   -o-border-radius:5px; 
   
}



.buttonbox {
	min-width:60px; 
	float:left;
	height:60px;  
	padding-top:15px;
	position:relative; 
	right:20px; 
}

.upvotebox.detail {
	float:left; 
	padding-right:30px; 
	padding-bottom:30px; 
	padding-top:6px; 
	width:40px; 
}

.arrowdetail {
	min-width:40px; 
}

.votecounter.detail  {
	min-width:40px; 
	font-size:16px;
	height:20px;  
}

.alert.detail {
	float:right;
	margin-left:20px; 
	min-width:60px; 
	max-width:300px; 
	border:1px solid black; 
	font-weight:bold; 
	text-align:right;  
}




#questiontable {
	margin-bottom:0px; 
	padding-bottom:0px; 
	margin-left:auto; 
	margin-right:auto;  
	margin-top:0px; 
	width:100%; 
	position:relative;
	top:-20px; 
	left:20px; 
}

p.questiontext {
	font:20px 'helvetica'; 
	color:black;
}

td.questionblock {
	width:auto; 
	font-weight:bold; 
}

.questiondetail {
	font:26px 'helvetica'; 

	
}

td.quotetop {
	vertical-align:top;
	position:relative;
	top:-5px;
	min-width:30px; 
}

td.quotebottom {
	vertical-align:bottom;
	padding-bottom:5px; 
	min-width:30px; 
	
}

td.fullblock {
	width:100%;
}

#infotable {
	width:45%; 
	margin-bottom:15px;
	float:left; 
}

p.infotext {
	font:12px 'helvetica'; 
	color:#003366 ;
	padding-left:4px; 
	padding-right:7px; 
}


#buttontable {
	width:45%; 
	margin-bottom:5px;
	margin-left:10px; 
	float:left;
	
	margin-top:14px; 
}

 #buttontable td {
	padding:1px; 
}

.upvote {
	min-height:20px; 
	min-width:50px; 
	font:20px 'helvetica'; 
	color:black; 
	font-weight:bold; 
	opacity:0.9;
	filter:alpha(opacity=90);
	border:1px solid black; 
	background-color:#4682B4;
}

.upvote:hover {
	background-color:#778899; 
}

.pushbutton {
	min-height:20px; 
	min-width:50px; 
	font:20px 'helvetica'; 
	color:black; 
	opacity:0.9;
	filter:alpha(opacity=90);
	border:1px solid black; 
	background-color:#EEEE00;
}

.pushbutton:hover {
	background-color:#FFD39B;
}


.ideaentertitle {
	max-height:20px; 
	min-width:100%; 
	font-size:16px; 
	margin:none; 
	padding-left:5px; 
}

.ideaenterarea {
	max-height:30px; 
	min-width:100%; 
	font-size:13px; 
	margin:none; 
	padding-left:5px; 
}

.ideabutton {
	min-height:20px; 
	min-width:100px; 
	font:20px 'helvetica'; 
	color:black; 
	opacity:0.9;
	filter:alpha(opacity=90);
	border:1px solid black; 
	background-color:#A0A0A0 ;

}

.ideabutton:hover {
	background-color:#D8D8D8 ;
}


div.divide2 {
	min-width:90%; 
	margin-left:auto; 
	margin-right:auto; 
	min-height:10px; 
	clear:both;
	margin-top:10px; 
	margin-bottom:10px; 

}

p.vertcenter {
	padding-top:17px; 
}

div.ideaspace {
	background-color:white; 
	padding:10px; 
}

div.ideabox {
	border:1px solid black; 
	background-color:white; 
	overflow:auto;
}















