@import "bootstrap";
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  height:100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* sidebar */
/* 

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}
 */


/* forms */

/* 
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}
 */

/* 
input{
  display: block;  
  border: 1px solid #bbb;
  padding: 10px;
  width: auto;
  height: auto;
  margin-bottom: 15px;
}
 */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.container {
	margin:none; 
	padding:none;
	border:none; 
}

.navbar-fixed-top {
	margin:none;
	padding:none;
	border:none; 
	
	
}

.navbar-inner {
	margin:none;
	padding:none;
	border:none; 
	
}

div.middle {
	margin-left:auto; 
	margin-right:auto;
	min-width:800px;
}

.textfield {
	font-size:16px; 
	width:500px;
	
}

.signinbox {
	font-size:16px; 
	width:300px;
	height:20px;
}


.textarea {
	width:500px; 
	height:100px; 
}

.subtable {
	margin-top:25px; 
	margin-left:auto; 
	margin-right:auto;
	width:50%;
}

.subrow {
	font: 14px/14px 'Lobster13Regular', Arial;
	vertical-align:top;
	margin-bottom:20px; 
}

.descript {
	width:175px; 
}

td {
	width:auto; 
}


.subbutton {
	font: 12px/22px  helvetica; 
	background-color:#FFCC66;
	margin-left:400px; 
	margin-right:auto; 
	margin-top:25px;
}

/* 
.subbutton:hover {
	background-color:black;
}
 */



p.middle {
	text-align:center; 
	clear:both;
	padding-left:5px;
}

p.pagetitle {
	font: 26px 'Lobster13Regular', Arial;
	color:black;
	padding-bottom:10px;
}

#footer {
	height:30px; 
	background-color:#202020 ; 
	clear:both; 
	text-align:right;
	color:white; 
	border-top:2px solid #900000;
	position:static;
    bottom:0;
    width:100%;
    height:35px;   /* Height of the footer */
    
    z-index: 100; 

    left: 0;

}

.bluebutton {
	margin:10px;
}

ul#idea-slider, ul#idea-slider li {
    width: 80%;
    height: 200px;
    list-style: none;
	easing: 'easeInOutExpo';
}

table.ideas {
	height:100px; 
}
.fullwidth {
	width:100%;
}

div.panel {
	width:90%;
}

div.content {
	width:100%;
}

.right {
	float:right;
	padding-right:5%;
}

div.ideas {
	border-top:1px solid #787878;
	border-bottom:1px solid #787878;
	height:100px;

}











