.page {
	margin-left:auto;
	margin-right:auto;
	min-width:700px;
	width:1000px;
}


#topbar {
	margin-top:20px;
	float:right;
	padding:0px;
	margin-right:138px;
	position:relative;
	z-index:100;
}

.clearline {
	clear:both;
	margin:0px;
	position:relative;
	top:-20px;
}

.titleline {
	margin-left:auto;
	margin-right:auto;
	min-width:800px;
	width:800px;
}

span.inline {
	display:inline;
}

.fifty  {
	width:48%;
	float:left;
	padding:1%;
}

.ten {
	width:10%;
	float:left;
}

#sign_in_button {
	width:150px; 
	font-family:CaviarDreams_Bold; 
	background:white; 
	opacity:0.5;
	color:black; 
	font-size:14px; 
	-moz-border-radius: 7px;
	border-radius: 7px;
	border:2px gray solid; 
}

#frontpage_badge {
	font:90px Lobster13Regular;
	color:white;
	text-shadow: -4px 2px 5px #000;
	padding-left:20px;
	clear:none;
}

#frontpage_tagline {
	font:20px CaviarDreams_Bold;
	color:white;
	
	padding-left:20px;
	text-shadow: -4px 2px 5px #000;
	clear:none;
}



h2.frontpage_section {
	font:30px CaviarDreams_Bold;
	color:black;
	text-shadow:none;
	display:block;
	text-align:center;
	padding:5px 10px;

}

#frontpage_section1 {
	margin-top:70px;
	background:white;
	border-radius:15px;
	
}

span.outline {

}

.frontpage_description {
	font:17px CaviarDreams_Bold;
	padding-left:100px;
	padding-top:100px;
}

.frontpage_description_2 {
	font:20px CaviarDreams_Bold;
	margin-top:10px;
	padding:0px;
	text-align:center;
}

.frontpage_list {
	font:16px CaviarDreams_Bold;
	color:black;
	margin-left:40px;
}

.frontpage_horizontal {
	color:black;
	border:1px solid black;
	opacity:0.5;
	position:relative;
	top:10px;

}


#tabContainer ul.tabbar{
	  padding:0px;
	  overflow:hidden; /*Clearing float. */
      height:35px;
	  margin-left:auto;
	  margin-right:auto;
	 min-width:750px;
	 width:780px;
	 -moz-box-shadow:    3px 3px 5px 6px gray;
  -webkit-box-shadow: 3px 3px 5px 6px gray;
  box-shadow:         3px 3px 5px 6px #333;
  
	
	  -moz-border-radius: 15px;
      border-radius: 60px 0px 60px 0px;
	 background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
 }

 #tabContainer li.list_none{
      float:left;
      list-style:none;
	  margin-right:10px;
 }

#tabContainer li.list_circle {
	margin-top:10px;
}

 #tabCenter {
	width:350px;
	margin-left:auto;
	margin-right:auto;
}

 #tabContainer li span.tab{
      background:transparent;
	  font:18px CaviarDreams_Bold;
      color:black;
      cursor:pointer;
      display:block;
      height:35px;
      line-height:35px;
      padding:0 30px;
      text-decoration:none;
	  -moz-border-radius-topright: 7px;
   	  border-top-right-radius: 7px;
	  -moz-border-radius-topleft: 7px;
   	  border-top-left-radius: 7px;
 }

 #tabContainer li span.tab:hover{
      background:black;
	  color:white;
 }

 #tabContainer li span.tab.active{
	  opacity:0.6;
      background:black;
      color:white;
 }

.tabDetails{
	-moz-border-radius: 7px;
	border-radius: 7px;
    width:100%;	  
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    margin:34px 0 0; /*1px less then actual tab height to fix the border gap between active tab &amp; tab detail section. */
    
}
 .tabContents{
      padding:20px
 }
 .tabContents h1{
      font:normal 24px/1.1em Georgia, "Times New Roman", Times, serif;
      padding:0 0 10px;
 }
 .tabContents p{
 padding:0 0 10px;
 }