.pull-left {
	padding:12px 10px; 
	color:white; 
}

#site_title {
	font-family:"Lobster13Regular";
	font-size:30px; 
	padding:0px;
	margin:0px;
	color:white;
	
}

#site_title:hover {
	color:white;
}


.navelement-left {
	font-family:"CaviarDreams_Bold"; 
	font-size:14px; 
	padding-left:16px; 
}

.navelement-right {
	font-family:"CaviarDreams_Bold"; 
	font-size:20px; 
	padding-left:7px; 
}

.navelement-sub {
	font-family:"CaviarDreams_Bold"; 
	font-size:12px; 

}