.progress {
	border: 1px solid black;
}
.prog{
	
	width: 325px;

}

.prog-done{
	position: relative;
	color: white;
	background-color: transparent;
	background: transparent;
	text-align: center;
	display:none;
}

.vote-msg{
	position: absolute;
	color: black;
	background-color: transport;
	font-weight: bold;
	border: none;
	text-align: center;
	width: 50px;
	height: 40px;
	top: 15px;
	left: 7px;
	display:block;
	padding-top:6px;
}

.push-msg{
	position: absolute;
	color: black;
	background-color: transport;
	font-weight: bold;
	border: none;
	text-align: center;
	width: 50px;
	height: 40px;
	display:block;
	padding-top:6px;
}
