.progress {
	border: 1px solid black;
}
.prog{
	
	width: 325px;

}

.prog-done{
	position: relative;
	color: white;
	background-color: transparent;
	background: transparent;
	text-align: center;
	display:none;
}
