.questiondiv {
	height:100%;
}

.whitebox_rounded {
	background: rgba(255, 255, 255, 0.5);
	border-radius:15px;
	padding:0px 10px 10px;
	width:100%;
	height:auto;
}

.one_question {
	padding:0px 10px 20px;
	border-bottom:2px dotted white;

}

.one_question_zoom {
	padding:0px 10px 20px;
	margin-bottom:40px;
}


.one_question_topbar {
   background:transparent;
   height:40px; 
   border:none;
   margin-bottom:10px;

}

.display_tags {
	float:left;
	margin-top:15px;
}

.question_information {
	float:right;
}

.asker {
	
}



.questiondescription a{
	font:20px Arial;
	width:auto; 
	font-weight:lighter; 
	color:black;
}

.questiondescription_zoom  {
	font:30px Arial;
	width:auto; 
	font-weight:lighter; 
	color:black;
}

.upvotebox {
	float:left; 
	max-width:10%;
	position:relative;
	top:-35px;
	left:10px; 
	max-height:57px;  
    -webkit-transition:opacity .2s ease-in-out;  
    -moz-transition:opacity .2s ease-in-out;  
    -o-transition:opacity .2s ease-in-out ;  
    transition:opacity .2s ease-in-out ; 
    opacity:0.8; 
    z-index:100; 
}

.votecounter {
	text-align:center; 
	max-height:10px; 
	max-width:10%; 
}

.helpful_question {
	width:100%;
	margin-top:10px;
	border-top:1px dotted white;
	border-bottom:1px dotted white;
	
	padding-bottom:5px; 
	padding-top:5px;
	color:black;
	height:16px;
}

.helpful_question a {
	color:green;
}

.question_by_tag_title {
	width:100%; 
	font:26px Arial;
	padding:10px 0px 10px; 

	margin:10px; 
}