#tag_editor {
	width: 105%;
	height: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	border: solid 1px #BBB;
	padding: 7px 5px;
	color: #222;
	background-color:white; 
	-moz-border-radius: 7px;
	border-radius: 7px;
	position:relative; 
	top:-22px; 
  
}

#tag_editor .tag {
	float: left;
	padding: 4px 4px!important;
	border: solid 1px #B7C963;
	color: white;
	margin: 0 5px 5px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font: 14px CaviarDreams_Bold;
	background:#879A73; 
}

#tag_editor_input {
	overflow: visible;
	background-color: transparent;
	color: #444!important;
	border: none;
	padding:5px 4px; 
	height:16px; 
	margin: 0 5px 5px 5px;
	outline:0;
	font: 14px CaviarDreams_Bold;
	width: 200px; 
}

#tag_editor .tag a{
	font-size:14px; 
	color:white;
}

#tag_editor .tag a:hover{
	text-decoration:none; 
	color:black; 
}


.ui-menu-item {
}
.ui-autocomplete a{
	font:14px CaviarDreams_Bold; 
	color:black;
}
